/*******************************GENERAL RESET*************/
html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

/************************** UTILITY CLASSES **********************/
.section-padding {
    padding: 40px 0px;
}

.d-flex {
    display: flex;
} 

.margin-top-30 {
    margin-top: 30px;
}

.margin-left-20 {
    margin-left: 20px;
}

/************************** COMPONENT STYLING **********************/
.container {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
}

/******** Button **********/
.button {
    padding: 10px 40px;
    font-weight: bold;
    border: none;
    border-radius: 100vmax;
    color: #fff;
    background-color: #ffc0cb;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(255, 192, 203, 0.7);
}

/******** NAVBAR STYLING **********/
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    background-color: #fff;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.nav-list {
    list-style: none;
}

.list-item {
    display: inline-block;
    margin: 0px 10px;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    color: #7A7694;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #2F4858;
}

/************************************* SECTIONS SYLING *******************************/
.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url(./images/homeGraphic.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content-wrapper {
    width: 40%;
    padding-top: 150px;
    color: #fff;
}

.primary-heading {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
}

.hero-title {
    margin-bottom: 10px;
    font-size: 25px;
    text-transform: uppercase;
    color: #D4A5BE;
}

.hero-link {
    margin-left: 20px;
    text-transform: capitalize;
    color: #A78DAC;
}

/******************? BENEFITS SECTION ***************************/
.benefits-section{
    width: 100%;
    min-width: 100vh;
}



/******** FOOTER STYLING **********/